@tailwind base;
@tailwind components;
@tailwind utilities;

.rdrDefinedRangesWrapper,.rdrMonthrd {
    display: none;
}
.rdrDateDisplayWrapper{
    width: 100%;
}
.rdrDateRangePickerWrapper{
    border: 1px solid rgb(163, 163, 163);
}